.note-container {
  height: 100%;
}

.note-container h2 {
  font-size: 2rem;
  padding-bottom: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.note-container_notes {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
}
